.bannerHeading{

   font-size: 40px; 
   text-align: center;
   font-family: Comic Sans MS;

}

#banner1{
    width: 500px;
    border-radius: 50%;
    

}

#banner1:hover{
border-width: 5px;
border-style: outset;
border-color: blueviolet;

}

table,th,tr,td{
border-width: 2px;
background-color: blueviolet;
border-style: solid;
}

td,th{
width: 150px;
height: 50px;


}